@mixin link-effect($color) {
	color: $color;
	border-bottom: 1px solid $color;
	transition: all 0.25s;

	&:hover {
		text-decoration: none;
		color: darken($color, 20%);
		border-bottom: 1px solid darken($color, 20%);
	}
}