.hero {
	background: url('../images/bg.jpg');
	background-size: cover;

	@include media-breakpoint-up(lg) {
		height: 100vh;
	}

	&__container {
		height: 100%;
	}

	&__content {
		@include make-row();
		align-items: center;
		height: 100%;
	}

	&__text {
		@include make-col-ready();
	}

	&__intro {
		font-size: 1.2rem;
	}

	&__header {
		font-weight: bold;
	}

	&__links {
		margin-top: $grid-gutter-width*2;
	}
}